/* <!-- */
body {
	margin:0;
	padding:0;
}
#header h1,
#header h2,
#header p {
	margin-left:2%;
	padding-right:2%;
}
#active2 #tab2,
#active3 #tab3,
#active4 #tab4,
#active5 #tab5 {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	margin-left:2%;
	padding-right:2%;
}

/* Start of Column CSS */
#container5 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#container4 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
#col1 {
	float:left;
	width:16%;
	position:relative;
	left:80%;
	overflow:hidden;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding:10px;

}
#col2 {
	float:left;
	width:16%;
	position:relative;
	left:82%;
	overflow:hidden;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding:10px;
}
#col3 {
	float:left;
	width:16%;
	position:relative;
	left:84%;
	overflow:hidden;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding:10px;
}
#col4 {
	float:left;
	width:16%;
	position:relative;
	left:86%;
	overflow:hidden;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding:10px;
}
#col5 {
	float:left;
	width:16%;
	position:relative;
	left:88%;
	overflow:hidden;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding:10px;
}
.center
{
margin:auto;
width:20%;
background-color:#fff;
padding:10px;
}

